web/preview/
Feature-extraction/model/
Feature-extraction/db_settings.py
backend/venv/
/backend/movie-web/src/main/resources/data/
/backend/movie-web/target/
/backend/movie-web/out/
/model/backend.out
/model/src.main.resources.data/
/model/target.classes.resources.data/
/model/bin/
*.model
*.npy
*.bin
*.class