<div class="card">
    <img class="card-img-top" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2881176356.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <div class="content">
        <div  class="el-rate">
        <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"></i></span>
            <span class="el-rate__item" style="cursor: auto;">
                <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i>
            </span>
            <span class="el-rate__item" style="cursor: auto;">
                <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i>
            </span>
            <span class="el-rate__item" style="cursor: auto;">
                <i class="el-rate__icon el-icon-star-on" style="color: rgb(239, 242, 247);">
                    <i class="el-rate__decimal el-icon-star-on" style="color: rgb(247, 186, 42); width: 50%;">
                    </i>
                </i>
            </span>
            <span class="el-rate__item" style="cursor: auto;">
                <i class="el-rate__icon el-icon-star-on" style="color: rgb(239, 242, 247);"><!----></i>
            </span>
            <span class="el-rate__text" style="color: rgb(255, 153, 0);">
                7
            </span>
        </div>
      </div>
    </div>
</div>