<div class="row card-deck">
    <div class="col">
        <div class="card mb-12">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img alt="Card image cap" class="card-img" referrerPolicy="no-referrer"
                         src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2881176356.webp">
                </div>
                <div class="col-mb-8">
                    <div class="card-body">
                        <h4 class="card-title">${title}</h4>
                        <div class="content">
                            <div class="row" style="width: 400px">
                                <div class="col-6">
                                    <div class="el-rate">
                                               <span class="el-rate__item" style="cursor: auto;">
                                                    <i class="el-rate__icon el-icon-star-on"
                                                       style="color: rgb(239, 242, 247);">
                                                        <i class="el-rate__decimal el-icon-star-on"
                                                           style="color: rgb(247, 186, 42); width: ${yellow1}%;">
                                                        </i>
                                                    </i>
                                                </span>
                                        <span class="el-rate__item" style="cursor: auto;">
                                                    <i class="el-rate__icon el-icon-star-on"
                                                       style="color: rgb(239, 242, 247);">
                                                        <i class="el-rate__decimal el-icon-star-on"
                                                           style="color: rgb(247, 186, 42); width: ${yellow2}%;">
                                                        </i>
                                                    </i>
                                                </span>
                                        <span class="el-rate__item" style="cursor: auto;">
                                                    <i class="el-rate__icon el-icon-star-on"
                                                       style="color: rgb(239, 242, 247);">
                                                        <i class="el-rate__decimal el-icon-star-on"
                                                           style="color: rgb(247, 186, 42); width: ${yellow3}%;">
                                                        </i>
                                                    </i>
                                                </span>
                                        <span class="el-rate__item" style="cursor: auto;">
                                                    <i class="el-rate__icon el-icon-star-on"
                                                       style="color: rgb(239, 242, 247);">
                                                        <i class="el-rate__decimal el-icon-star-on"
                                                           style="color: rgb(247, 186, 42); width: ${yellow4}%;">
                                                        </i>
                                                    </i>
                                                </span>
                                        <span class="el-rate__item" style="cursor: auto;">
                                                    <i class="el-rate__icon el-icon-star-on"
                                                       style="color: rgb(239, 242, 247);">
                                                        <i class="el-rate__decimal el-icon-star-on"
                                                           style="color: rgb(247, 186, 42); width: ${yellow5}%;">
                                                        </i>
                                                    </i>
                                                </span>
                                        <span class="el-rate__text" style="color: rgb(255, 153, 0);">
                                                      ${rate}
                                                  </span>
                                    </div>
                                </div>
                                <div class="col" style="top: -4px">
                                    <span class="badge badge-primary">剧情</span>
                                </div>
                            </div>
                            <div id="people">
                                <div id="directors">
                                    <p>导演：${directors}</p>
                                </div>
                                <div id="actors">
                                    <p>主演：${actors}</p>
                                </div>
                                <div id="imdb">
                                    <p>IMDb：${imdb}</p>
                                </div>

                                <div id="echart" style="width: 600px;height:200px;"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row card-deck" id="description">
    <div class="col">
        <div class="card mb-12">
            <div class="row no-gutters">
                <div class="col">
                    <div class="card-body">
                        <h4 class="card-title">剧情简介</h4>
                        <div class="content">
                            <div id="desc-content">
                                ${desc}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 card-deck">

    <div class="card" onclick="window.open('${r1-href}')">
        <img alt="Card image cap" class="card-img-top" src="${r1-cover}">
        <div class="card-body">
            <h4 class="card-title">${r1-title}</h4>
        </div>
    </div>

    <div class="card" onclick="window.open('${r2-href}')">
        <img alt="Card image cap" class="card-img-top" src="${r2-cover}">
        <div class="card-body">
            <h4 class="card-title">${r2-title}</h4>
        </div>
    </div>

    <div class="card" onclick="window.open('${r3-href}')">
        <img alt="Card image cap" class="card-img-top" src="${r3-cover}">
        <div class="card-body">
            <h4 class="card-title">${r3-title}</h4>
        </div>
    </div>

</div>