<div class="row card-deck">
    <div class="col">
        <div class="card mb-8">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img class="card-img" src="" alt="Card image cap" referrerPolicy="no-referrer" >
                </div>
                <div class="col-mb-8">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <div class="content">
                            <div class="row" style="width: 400px">
                                <div class="col-6">
                                    <div class="el-rate">
                                      <span class="el-rate__item" style="cursor: auto;">
                                          <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);">
                                          </i>
                                      </span>
                                        <span class="el-rate__item" style="cursor: auto;">
                                          <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i>
                                      </span>
                                        <span class="el-rate__item" style="cursor: auto;">
                                          <i class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i>
                                      </span>
                                        <span class="el-rate__item" style="cursor: auto;">
                                          <i class="el-rate__icon el-icon-star-on" style="color: rgb(239, 242, 247);">
                                              <i class="el-rate__decimal el-icon-star-on" style="color: rgb(247, 186, 42); width: 50%;">
                                              </i>
                                          </i>
                                      </span>
                                        <span class="el-rate__item" style="cursor: auto;">
                                          <i class="el-rate__icon el-icon-star-on" style="color: rgb(239, 242, 247);"><!----></i>
                                      </span>
                                        <span class="el-rate__text" style="color: rgb(255, 153, 0);">
                                          7
                                      </span>
                                    </div>
                                </div>
                                <div class="col" style="top: -4px">
                                    <span class="badge badge-primary">剧情</span>
                                </div>
                            </div>
                            <div class="directors">
                                <p>导演：XXX</p>
                            </div>
                            <div class="actors">
                                <p>主演：XXX</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>